:root {
  --white-color: #f5f5f5;
  --black-color: #000000;
  --dark-gray-color: #262626;
  --light-gray-color: #a7a7a7;
  --footer-color: #666666;
  --blue-color: #0277c5;
  --search-color: #363636;
}

* {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  background-color: var(--black-color);
  box-sizing: border-box;
}

img {
  width: 2.5rem;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.625rem;
  width: 245px;
  position: fixed;
  height: 100vh;
  left: 0;
  border-right: 1px solid var(--dark-gray-color);
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu .instagramLogo .fa-instagram {
  display: none;
}

.instagramTxt {
  font-family: 'Lobster', serif;
  font-size: 1.5rem;
}

.menu .mainMenu {
  padding-top: 1.25rem;
}

.menu li,
.instagramLogo {
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu li:hover {
  border-radius: 10px;
  background-color: var(--dark-gray-color);
  i,
  span {
    background-color: var(--dark-gray-color);
  }
}

.menu i {
  font-size: 24px;
  width: 30px;
}

.menu ul li img {
  border-radius: 100%;
  width: 24px;
  margin-right: 6px;
}

.menu ul li span {
  padding-left: 10px;
}

.menu .threadsAndMore {
  padding-top: 200px;
  padding-bottom: 20px;
}

main {
  display: flex;
  width: calc(100% - 245px);
  justify-content: center;
  position: absolute;
  left: 245px;
}

main .storyAndArticle {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin: 10px 0;
  align-items: center;
}

main .story {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

main .story li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem;
  align-items: center;
  width: 4.25rem;
}

main .story li .storyColor {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: radial-gradient(circle at bottom left, #f58529 20%, #c42d91);
}

main .story li img {
  border-radius: 100%;
  border: 2px solid var(--black-color);
  width: 60px;
}

main .story li span {
  font-size: 0.75rem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main article {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--dark-gray-color);
  padding: 16px 0;
  width: 470px;
}

main article .heading {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

main article .heading img {
  border-radius: 100%;
}

main article .heading .id {
  margin-left: 7px;
}

main article .heading .fa-ellipsis {
  margin-left: auto;
}

main article .mainImage img {
  width: 100%;
  border-radius: 1%;
}

main article .articleIcons {
  display: flex;
}

main article .articleIcons i {
  padding: 9px;
  font-size: 24px;
}

main article .articleIcons .fa-heart {
  padding-left: 0;
}

main article .articleIcons .fa-bookmark {
  margin-left: auto;
}

main article .likeNumber,
.content,
.viewAllComments,
.addComments {
  padding: 3px 0px;
}

main article .viewAllComments,
.addComments {
  color: var(--light-gray-color);
}

main article .addComments {
  display: flex;
}

main article .addComments .fa-face-smile {
  margin-left: auto;
}

aside {
  margin-top: 2rem;
  padding-left: 4rem;
  width: 22.5rem;
  font-size: 14px;
}

aside .profile {
  display: flex;
  align-items: center;
  padding: 8px;
}

aside .profile img {
  border-radius: 100%;
  width: 44px;
}

aside .profile .profileInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  min-width: 0;
  flex: 1;
}

aside .profile .profileInfo .id {
  font-size: 0.875rem;
}

aside .profile .profileInfo .name,
.mutualFriend {
  color: var(--light-gray-color);
}

aside .profile .switch,
.follow {
  margin-left: auto;
  color: var(--blue-color);
  font-size: 0.75rem;
}

aside .suggest {
  display: flex;
  padding: 1rem 0.5rem;
}

aside .suggest .suggestedForYou {
  color: var(--light-gray-color);
}

aside .suggest .seeAll {
  margin-left: auto;
  font-size: 0.75rem;
}

aside .suggestedProfile .profile .mutualFriend {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
}

footer {
  font-size: 0.75rem;
}

footer ul {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}

footer ul li {
  color: var(--footer-color);
}

footer ul li:not(:last-child)::after {
  content: '\00B7';
  padding: 0 0.25rem;
}

footer .copyright {
  padding: 0.5rem;
  color: var(--footer-color);
  text-transform: uppercase;
}

@media screen and (max-width: 1263px) {
  .menu {
    width: 73px;
  }
  .menu ul li {
    justify-content: center;
  }
  .menu ul li span {
    display: none;
  }
  .menu .instagramLogo:hover {
    border-radius: 10px;
    background-color: var(--dark-gray-color);
    i {
      background-color: var(--dark-gray-color);
    }
  }
  .menu .instagramLogo .fa-instagram {
    display: block;
  }
  .menu .instagramLogo .instagramTxt {
    display: none;
  }
  .menu ul li img {
    margin-right: 0;
  }
  main {
    left: 73px;
    width: calc(100% - 73px);
  }
}

@media screen and (max-width: 1159px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    height: 61px;
    border-bottom: 1px solid var(--dark-gray-color);
    padding: 0 1rem;
  }
  header .searchAndNotification {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  header .searchAndNotification .searchBar {
    position: relative;
    margin-right: 20px;
  }
  header .searchAndNotification .searchBar .fa-magnifying-glass {
    position: absolute;
    top: 10px;
    left: 16px;
    background-color: var(--search-color);
    color: var(--light-gray-color);
  }
  header .searchAndNotification .searchBar .searchBarInput {
    background-color: var(--search-color);
    border-radius: 0.5rem;
    border: none;
    height: 36px;
    width: 268px;
    padding-left: 2.75rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  header .searchAndNotification .searchBar .searchBarInput:focus {
    outline: none;
  }
  header .searchAndNotification .notification .fa-heart {
    font-size: 1.5rem;
  }
  .menu {
    flex-direction: row;
    left: auto;
    bottom: 0;
    height: 49px;
    width: 100vw;
    z-index: 1;
    padding: 0;
  }
  .menu .instagramLogo,
  .menu .threadsAndMore {
    display: none;
  }
  .menu .mainMenu {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    border-top: 1px solid var(--dark-gray-color);
  }
  .menu .mainMenu li:not(.responsiveMenu) {
    display: none;
  }
  .menu .mainMenu li span {
    display: none;
  }
  main {
    width: 100%;
    left: auto;
  }
}
